body{
  margin:0;
  width:100%;
}


.header{
  width:100%;
  height:70vh;
  background-image:url(bgimg.jpg);
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  color: white;
}
@media screen and (max-width:700px){
  .header{
    height: 50vh;
  }
}
.header h1{
  font-family:"Concert One",cursive;
  font-weight:lighter;
  font-size:50px;
  margin-bottom:0;
  margin-left: 50px;
  padding-bottom:.5%;
}
.top{
  text-align: right;
  padding:40px 0;
  width:100%;
  font-family: "Alata", sans-serif;
}
.top a{
  font-weight:600;
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  margin:0 20px;
  height:22px;
  position: relative;
}
@media screen and (max-width:700px){
  .top{
    padding:10% 0 0 0;
    text-align: center;
  }
  .top a{
    margin:2%;
  }
}
.top a::after{
  content: "";
  height:2px;
  width:0;
  background-color:white;
  position:absolute;
  left:0;
  bottom:0;
  border-radius:30%;
  transition:0.3s ease;
  transform: scale(2,1);
}
.top a:hover::after{
  width:100%;
  transform: scale(1,1.5);
}

.top-box{
  width:30vw;
  height:30vh;
  padding:30px 0 0px 50px;
  margin-left:50px;
  font-family:"system-ui",sans-serif;
  font-size:clamp(2rem,5vw,3.2rem);
  font-weight:300;
  line-height:1;
  text-transform:uppercase;
  border:1.5px solid white;
}
@media screen and (max-width:700px){
  .top-box{
    width:70vw;
    height:10vh;
    padding:8%;
    margin:6%;
  }
}
.header a{
  color: white;
  text-decoration: none;
}

main{
  padding:150px 0px 100px 80px;
  position: relative;
  width:82%;
}
.vr{
  width:65%;
  height:65%;

}
.about{
  padding:5%;
  position: absolute;
  background-color:white;
  width:min(400px,70%);
  right:5%;
  bottom:0px;
  justify-content: center;
}
@media screen and (max-width:700px){
  main{
    padding:30% 5% 0 8.5%;
  }
  .about{
    position: relative;
    padding:0 0 0 10%;
    width: 90%;
  }
  .vr{
    width:100%;
    height:90%;
  }
}
.about h1{
  text-transform:uppercase;
  font-family: "system-ui",sans-serif;
  font-weight: 450;
  width:max(300px,80%);
  font-size:clamp(2em,3vw,2.7em);
  line-height:1;
  letter-spacing:0.5px;
}
main p{
  /* font-family: "Josefin Sans", sans-serif; */
  font-weight: bolder;
  font-size:clamp(1em,1.4vw,1.5em);
  color: #8c8c8c;
  line-height:1.47;
}
.section{
  width:100%;
  height:100%;
  position: relative;
}

.section h1{
  display: inline-block;
  width:75%;
  padding-left:80px;
  text-transform:uppercase;
  font-family: "system-ui",sans-serif;
  font-weight: 450;
  font-size:clamp(2em,5vw,70%);
  line-height:1;
  letter-spacing:0.8px;
}

@media screen and (max-width:980px){
  .section h1{
    width:65%;
  }
}
.section input{
  width:160px;
  padding: 10px;
  font-size:13px;
  text-transform: uppercase;
  font-weight:bolder;
}
@media screen and (max-width:700px){
  .section input{
    position:absolute;
    bottom:0;
    right:35%;
    width:30%;
    margin-bottom:1.5%;
  }
}
.section input:hover{
  color:white;
  background-color: black;
}
.bottom{
  text-align:left;
  padding:120px 0 0 50px;
  width:70%;
  font-family: "Alata", sans-serif;
  display: inline-block;
}

.grid{
  width:100%;
  padding-bottom:10%;
  display: grid;
  grid-template-columns: repeat(auto-fit,25em);
  grid-gap:25px;
  justify-content: center;
}

@media screen and (max-width:700px){
  .grid{
    grid-template-columns: repeat(auto-fit,20em);
    padding-bottom:15%;
}

}

.grid div{
  position: relative;
  width:100%;
}
.grid img{
  width:100%;
  height:100%;
  object-fit:cover;
  position:relative;
}
.nine{
  height:160px
}
.grid div span{
  position: absolute;
  top:90px;
  left:20px;
  width:35%;
  line-height:1.2;
  color:white;
  text-transform:uppercase;
  font-family: "system-ui",sans-serif;
  font-weight: 450;
  font-size:clamp(1.5rem,25px,30px);
  text-shadow: 1.5px 1.5px black;
}
@media screen and (max-width:700px){
  .grid div span{
    width:90%;
    font-size:1.2em;
  }
  .nine{
    height:120px;
  }
}
.grid .hover{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  cursor: default;
}
.grid .hover:hover{
  background-color:rgba(255, 255, 255, 0.7);
}

footer{
  width:100%;
  height:100%;
  background-color: black;
  color: white;
}
.bottom{
  margin-top:0;
  padding-top:40px;
}
.bottom a{
  font-weight:550;
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  margin:0 20px 10px;
  height:22px;
  color: white;
  text-decoration: none;
  font-size:15px;
}
@media screen and (max-width:700px){
  .bottom{
    width:100%;
    padding:4% 0 0 0;
  }
  .bottom a{
    display: block;
    text-align: center;
    margin:0 0 2%;
    padding:0;
  }
}
.bottom a::after{
  content: "";
  height:2px;
  width:0;
  background-color:white;
  position:absolute;
  left:0;
  bottom:0;
  border-radius:30%;
  transition:0.3s ease;
  transform: scale(2,1);
}
.bottom a:hover::after{
  width:100%;
  transform: scale(1,1.5);
}
@media screen and (max-width:700px) {
  .bottom a::after{
    left:40%;
    width:0%;
    transform:none;
    transition:0.4s ease;
  }
  .bottom a:hover::after{
    width:18%;
    transform:none
  }
}
footer h1{
  width:71%;
  font-family:"Concert One",cursive;
  font-weight:lighter;
  font-size:30px;
  margin-bottom: 0;
  margin-left:10%;
  padding-top:30px;
  display: inline-block;
}
footer img{
  width:38px;
  background-color: white;
  border-radius:100%;
  margin:0 15px;
}
@media screen and (max-width:700px){
  footer{
    margin-top:5%;
  }
    footer h1{
    width:45%;
  }
  footer img{
    width: 7%;
    margin: 0 10px;
  }
}
footer span{
  color: grey;
  font-weight: bold;
  font-size:clamp(.5em,15px,20px);
}
@media screen and (max-width:700px){
  footer span{
    display: block;
    text-align: center;
  }
}

.attribution{
  width: 100%;
  color: white;
  font-size:2%;
  background-color: black;
}
